.home {
  color: white;
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home p::selection {
  color: #121212;
  background-color: var(--primary);
} 
.home h1::selection {
  color: #121212;
  background-color: var(--primary);
}
.home h2::selection {
  color: #121212;
  background-color: var(--primary);
}
.home span::selection {
  color: #121212;
  background-color: var(--primary);
}
.home button::selection {
  color: #121212;
  background-color: var(--primary);
}
.home img::selection {
  background-color: var(--img-selection);
}

.lottieWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600vh;
  pointer-events: none;
}

.lottie {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.5s;
  transition-timing-function: ease-in;
  top: calc(-1 * var(--nav-size));
  top: 0;
  pointer-events: none;
}
.lottie__vis {
  top: 0;
  width: 100%;
}

.spaceOut {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(
    rgba(18,18,18,1) 0%,
    rgba(18,18,18,0.9) 35%,
    rgba(18,18,18,0.9) 65%,
    rgba(18,18,18,1) 75%),
  url('../../assets/backdrop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.videoBackdrop {
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 4rem;
  margin-bottom: 4rem;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.description h2 {
  color: white;
  font-size: 1.5rem;
  font-family: 'Oswald';
  font-weight: 400;
  margin: 0;
  text-align: justify;
}
.description p {
  color: white;
  font-size: 1.2rem;
  font-family: 'Oswald';
  font-weight: 200;
  margin: 0;
  padding: 4rem;
  padding-top: 0;
  width: 40%;
  text-align: justify;
}

.badgeButton {
  color: var(--primary);
  background-color: #3c3c3c79;
  border-radius: var(--border-radius);
  border: none;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Oswald';
  padding: 20px 60px;
  backdrop-filter: blur(10px);
}

.introHeading {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.introHeading h1 {
  font-family: 'Cowboy';
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
}
.introHeading span {
  color: #DD3726;
  font-family: 'Danger';
  font-size: 3.5rem;
  font-weight: 200;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
}
.moreButton {
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  height: 50px;
  width: 200px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.moreButton:hover {
  background-color: var(--primary);
  color: #121212;
}

.NFTWrapper{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.NFTMotion{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.NFT {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 6rem;
}
.NFT img {
  height: 350px;
  border-radius: var(--border-radius);
}

.statsGrid {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  width: 60%;

  justify-content: space-between;
  align-items: center;
}

.statColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: 'Cowboy';
  font-size: 5rem;
}
.statColumn span {
  color: var(--primary);
  font-family: 'Oswald';
  font-size: 2rem;
  font-weight: 200;
}
.statColumn p {
  color: #404040;
  font-family: 'Oswald';
  font-size: 1rem;
}

.statLine {
  background-color: var(--primary);
  height: 1px;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.accessPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  width: 350px;
}
.accessPass img {
  width: 100%;
  border-radius: var(--border-radius);
}

.roadmap {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.roadmapCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 2rem;
  min-height: 200px;
}
.roadmapCard h1 {
  color: var(--primary);
  font-family: 'Cowboy';
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.roadmapCard span {
  color: white;
  font-family: 'Oswald';
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.roadmapCard p {
  color: rgb(120, 120, 120);
  font-family: 'Oswald';
  font-size: 0.7rem;
  font-weight: 200;
  margin-bottom: 0;
  text-align: justify;
}
.roadmapThreeD {
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(20px);
}
.roadmapThreeD h1 {
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(40px);
}
.roadmapThreeD span {
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(30px);
}
.roadmapThreeD p {
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(20px);
}

.outro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.outro h1 {
  font-family: 'Cowboy';
  font-size: 5rem;
  font-weight: 200;
  text-transform: uppercase;
}
.outro button {
  color: #121212;
  font-family: 'Cowboy';
  font-size: 1.5rem;
  background-color: var(--primary);
  height: 60px;
  width: 200px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}
.outro button:hover {
  filter: brightness(1.2);
}

.outroButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
  gap: 40px;
}
