.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}

.footerCommunities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;

    width: 60%;
}
.footerCommunities span {
    font-family: 'Oswald';
    transition: all 0.2s ease-in-out;
}
.footerCommunities span::selection {
    color: #121212;
    background-color: var(--primary);
}
.footerCommunities span:hover {
    filter: brightness(1.4);
}
.footerCommunities svg {
    fill: var(--primary);
    width: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.footerCommunities svg:hover {
    filter: brightness(1.4);
}

.footerCommunitiesPages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerCommunitiesPages a {
    font-family: 'Oswald';
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.footerCommunitiesPages a::selection {
    color: #121212;
    background-color: var(--primary);
}

.footerCommunitiesIcons {
    display: flex;
    flex-direction: row;
}
.footerCommunitiesIcons svg {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.footerLogo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footerLogo img {
    width: 25rem;
}
.footerLogo img::selection {
    background-color: var(--img-selection);
}